#drop-shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 2;
}

#drop-shadow.show {
    display: block;
}

#drop-shadow.hide {
    display: none;
}
